.main-container {
    display: flex;
    justify-content: center;
}

.container-domestico {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1450px;
}

.item-domestico {
    width: 200px;
    padding: 5px;
}

.item-domestico h2 {
    font-size: 28px;
}

.item-domestico img {
    border-radius: 3%;
}